<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
<div id="vass">
    <h1>I earn {{dollar}} per month</h1>

    <button v-on:click="dollar++">+1</button>
    <button v-on:click="dollar--">-1</button>
</div>

<script>
    let app = new Vue({
        el: '#kazi',
        data:{
          dollar: 100
        },
        method:{

        }
    });
</script>
</body>
</html>
